/*
Theme Name: SKT Enterprise
Theme URI: https://www.sktthemes.org/shop/free-enterprise-wordpress-theme/
Author: SKT Themes
Author URI: https://www.sktthemes.org
Description: SKT Enterprise is a free enterprise WordPress theme based on Elementor page builder. It uses SKT Templates which also come with around 200 free other templates and landing pages. Simple and easy to use and customizable and flexible this enteprise template can be used for any venture industry pursuit endeavour undertaking operation task corporation establishment shop program and business. This is a good template for startups, businesses which are starting now into servicing or product based too. Any other company or conglomerate can also use this as a base theme to create a large enterprise website. Documentation : https://sktthemesdemo.net/documentation/skt-enterprise-doc/
Template: skt-consulting
Version: 1.5
Tested up to: 6.8
Requires PHP: 5.6
License: GNU General Public License
License URI: https://www.gnu.org/licenses/license-list.html#GPLv2
Text Domain: skt-enterprise
Tags: two-columns,right-sidebar,full-width-template,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments,featured-images,footer-widgets,translation-ready,rtl-language-support,custom-logo,editor-style,custom-header,blog,e-commerce,portfolio

SKT Enterprise is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).

SKT Enterprise WordPress Theme has been created by SKT Themes(sktthemes.org), 2024.
SKT Enterprise WordPress Theme is released under the terms of GNU GPL
*/

.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}

.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

.gallery-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}

.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}

.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}

.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}

.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

a {
	color: #f41e7e;	
}

a:hover {
	color: #605b5b;	
	text-decoration:underline;
}

.logo {
	float: left;
	min-height: inherit;
	padding: 18px 35px 13px 0;
}

.logo a{
	text-decoration:none;
}

.logo h2 {
	color: #fff;
	font-family: 'Poppins';
	font-size: 35px;
}

.logo img {
	padding: 10px 0 0 0;
}

.container {
	width: 1200px;
}

#logo-main a:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus, a:focus {
	outline: 3px dotted #f41e7e;
}

#navigation {
	width: auto;
	float: right;
	position: relative;
}

.topmenu-bar {
	width: 100%;
	z-index: 9;
	position: relative;
}

.site-main h1 {
	font-size: 36px;
}

.transheader {
	position: absolute;
	background-color: transparent !important;
}

#navigation {
	float: right;
	text-align: left;
	padding: 0;
	position: relative;
}

.main-navigation {
	display: inline-block;
	width: auto;
	font-size: 17px;
	font-family: 'Assistant';
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul li a {
	z-index: 99;
}

.main-navigation ul ul {
	float: left;
	text-align: left;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99;
	display: block;
	min-width: 230px;
	background: #000;
	opacity: 0;
	transition: all ease 0.23s;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.main-navigation ul li:hover > ul, .main-navigation ul li:focus > ul, .main-navigation ul li.focus > ul {
	display: block;
	opacity: 1;
	z-index: 1000;
	transform: scale(1,1);
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation li {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
}

.main-navigation ul > li:hover > ul {
	opacity: 1;
	left: 0;
	z-index: 9999;
}

.main-navigation ul > li:hover > ul li a {
	color: #000;
}

.main-navigation ul ul li:hover > ul {
	opacity: 1;
	left: 100%;
}

.main-navigation li li {
	float: none;
	display: block;
}

.main-navigation ul li li:last-child > a {
	border: none;
}

.main-navigation ul li a {
	display: block;
	padding: 0px 30px;
	position: relative;
	z-index: 99;
	line-height: 100px;
	transition: all ease 0.23s;
	text-decoration: none;
	color: #ffffff !important;
	font-weight: 500;
}

.main-navigation ul.sub-menu li.current_page_item a {
	background-color: #282828;
}

.main-navigation ul li:hover a, .main-navigation ul li a:focus, .main-navigation ul li a:hover, .main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a {
	opacity: 1;
	color: #FFC5DF !important;
}

.a13-sticky-variant .main-navigation ul li a {
	color: #b0b0b0;
}

.a13-sticky-variant .header-search-toggle {
	color: #FFF;
}

.a13-sticky-variant .main-navigation ul li a:hover, .a13-sticky-variant .main-navigation ul li.current-menu-item a, .a13-sticky-variant .main-navigation ul li.current_page_item a {
	color: #21201f;
}

.main-navigation ul ul li a{color:#FFC5DF;}

.main-navigation ul ul li a:hover, .main-navigation ul ul li a:focus {
	color: #f41e7e !important;
	background-color: #222933;
}

.main-navigation ul li ul li a {
	line-height: 40px;
	color: #222933;
}

.main-navigation li > a {
	position: relative;
}

.main-navigation li li.current_page_item > a:after, .main-navigation li li.current-menu-item > a:after, .main-navigation ul li li a:hover:after {
	display: none;
}

.main-navigation li.menu-item-has-children > a {
	padding-right: 24px;
}

.main-navigation li.menu-item-has-children > a:after {
	content: "\f347";
	right: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
	font-size: 12px;
	margin-left: 5px;
	position: absolute;
	font-family: dashicons;
}

.main-navigation ul ul li.menu-item-has-children > a:after {
	content: "\f345";
	right: 0;
	margin-top: 10px;
	font-family: dashicons;
}

.main-navigation ul ul li.menu-item-has-children > a:hover:after {
	color: #282828;
}

.menu-toggle, .main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	width: auto;
}

.menu-toggle:hover {
	opacity: .89;
}

.toggled .menu-toggle span {
	background: #ffb400;
}

.menu-toggle span {
	background: #ffffff;
	border: none;
	height: 3px;
	width: 32px;
	position: absolute;
	top: 7px;
	left: 4px;
	transition: all .25s ease;
	cursor: pointer;
}

.menu-toggle span:nth-of-type(2) {
	top: 18px;
}

.menu-toggle span:nth-of-type(3) {
	top: 29px;
}

.main-navigation button.menu-toggle:focus {
	outline: 1px solid #FFC5DF;
	border-radius: 0;
}

.header-right-infos {
	position: relative;
	float: right;
}

.header-phone-number {
	width: 300px;
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-weight: 600;
}

.header-phone-number img {
	vertical-align: middle;
	float: left;
	background: #fff;
	border-radius: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 14px;
	margin: 15px 20px 0 35px;
}

.header-phone-number span {
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	padding: 18px 0 4px 0;
	top: 0px;
}

.header-phone-number a {
	color: #FFF;
}

.header-phone-number a:hover {
	color: #282828;
}

.postmeta a {
	color: #f41e7e;
}

.postmeta a:hover {
	color: #000000;
}

.header-right-infos {
	border-left: solid 1px #ff6673;
	padding-bottom: 17px;
}

.footerarea {
	background-color: #1a191e;
	padding: 0;
}

.footerarea .container {
	border-bottom: solid 1px #383f49;
	padding: 65px 0 45px 0;
}

#main-set {
	background-color: #FFF;
}

.page_content {
	padding: 40px 0 30px 0;
}

.single_title {
	margin: 0 0 20px 0;
}

#sidebar h2 {
	font-size: 20px;
}

#sidebar .wp-block-search {
  border: 1px solid #eeeff5;
  padding: 0 15px 15px 25px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 6px 4px 0 #dcdcdc;
}

.wp-block-search__label{color: #000000; font-family: 'Assistant', sans-serif; font-size:20px; font-weight:700; padding:20px 0 12px 0; display:table; line-height:1.1;}

.wp-block-search__input {
  border-color: #ccc;
}

#sidebar .wp-block-group {
	border: 1px solid #eeeff5;
	padding: 0 0 15px 25px;
	margin: 20px 0;
	box-sizing: border-box;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 6px 4px 0 #dcdcdc;
}

#sidebar ul li a {
	color: #f41e7e !important;
}

#sidebar ul li a:hover, #sidebar li a:hover {
	color: #605b5b !important;
}

#footer {
	position: relative;
}

.header-social-icons {
	float: right;
	margin-top: 35px;
	margin-left: 42px;
	border-left: solid 1px #a5a6a5;
	padding-left: 20px;
}

.header-social-icons .social-icons {
	margin-top: 0px;
}

.header-social-icons .social-icons a {
	background-color: transparent !important;
	width: 30px;
	height: 30px;
	line-height: 30x;
}

.footer-logo {
	text-align: left;
	padding: 45px 0 0 0;
	float: left;
}

.footer-social {
	float: right;
	text-align: right;
	padding: 32px 0;
}

.social-icons {
	display: inline-table;
}

.social-icons a {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	transition: 0.6s;
	-moz-transition: 0.6s;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	margin: 0 2px;
	padding: 0;
	border-radius: 250px;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	background-color: #f41e7e !important;
}

.social-icons a:hover {
	background-color: #282828 !important;
}

.social-icons br {
	display: none;
}

.social-icons .fb {
	background: url(images/icon-fb.png) no-repeat center center;
}

.social-icons .tw {
	background: url(images/icon-tw.png) no-repeat center center;
}

.social-icons .in {
	background: url(images/icon-in.png) no-repeat center center;
}

.social-icons .insta {
	background: url(images/icon-insta.png) no-repeat center center;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
	color: #ffffff;
	font-family: 'Poppins';
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 1.5px;
}

.footer aside.widget {
	color: #bebebe;
	font-family: 'Assistant';
	padding: 0px;
	border: none;
}

.cols-3 {
	width: 24%;
	font-size: 17px;
	font-weight: 400;
	color: #1b1b1b;
	margin: 0 8px 2.6%;
}

.container.footerinfobox {
	padding: 45px 0 45px 0;
}

.cols-3 ul li a {
	padding: 6px 0;
}

.footer .cols-3:nth-of-type(3) {
	margin-right: inherit;
}

.footer-row .cols-3 ul li a {
	color: #bebebe !important;
}

.footer-row .cols-3 ul li a:hover, .footer-row .cols-3 ul li.current_page_item a {
	color: #f41e7e !important;
}

.copyright-wrapper {
	background-color: #1a191e;
}

.copyright-txt {
	color: #bebebe;
}

.copyright-txt a {
	color: #f41e7e;
}

.copyright-txt a:hover {
	color: #000;
}

.sticky {
	border-bottom-color: #f41e7e;
}

input.search-submit, .post-password-form input[type="submit"], .wpcf7-form input[type="submit"], .woocommerce-product-search button[type="submit"] {
	background-color: #f41e7e;
}

.inner-banner-thumb {
	margin: 0;
	height: 272px;
	overflow: hidden;
}

.inner-banner-thumb img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

.inner-banner-thumb h1 {
	font-family: 'Playfair Display';
	font-size: 54px;
	color: #000000;
	font-weight: 700;
}

.inner-banner-thumb .black-title h1 {
	color: #FFF;
}

.header {
	padding: 0px;
	background-color: #222933;
}

.header.transheader .container {
	border-bottom: solid 1px #535451;
}

#footer-wrapper {
	margin-top: 0px;
	background-color: #1a191e;
}